<div class="banner">
  <%= image_tag 'superman.jpg', alt: "Cinema", class: "background-image" %>
  <div class="card-img-overlay">
    <h1>Note the films you've seen.</h1>
    <h1>Save the best for later.</h1>
    <h1>Share them with your friends.</h1>
  </div>
</div>

<div class="container my-5">
  <button type="button" id="banner-button" class="btn mb-5 mt-5 banner-buttons" style="display: block; margin: 0 auto;">GET STARTED - IT'S FREE!</button>
  <div class="main-container">
    <div class="list-cards">
      <% @lists.each do |list| %>
        <div class="list-card" style="background-image: url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
          <%= link_to list.name, list_path(list), class:"link" %>
          <%= link_to '&times;'.html_safe, list_path(list),  method: :delete, class: "card-remove-link", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
      <div class="list-card bg-dark opacity-100">
        <%= link_to "Add List", new_list_path, class:"add_list_link" %>
      </div>
    </div>
  </div>
</div>
