<div class="container mt-5">
  <div class="banner" style="position: relative;">
    <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; color: white; font-size: 75px;"><%= @list.name %></h1>
    <img src="<%= cl_image_path @list.photo.key %>" alt="list-image" width="75%" height="75%" class="background-image">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 0;"></div>
  </div>

  <div class="banner-buttons">
    <%= link_to "Add Bookmark", new_list_bookmark_path(@list), class: "btn btn-secondary addbookmark-button-addons" %>
    <%= link_to "My Lists", root_path, class: "btn btn-secondary back-button-addons"%>
  </div>

  <%= link_to 'Return to previous page', root_path %>
</div>



<div class="category-cards d-flex flex-wrap">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="flip-card m-2">
      <div class="flip-card-inner">
        <div class="flip-card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path bookmark.movie.poster_url, height: 300, crop: :fill %>'); background-size: cover;">
        </div>
        <div class="flip-card-back">
          <%= link_to "delete", bookmark_path(bookmark), method: :delete,  data: { confirm: 'Are you sure?' }, class: "category-remove-link" %>
          <div class="card-body">
            <h4 class="card-title"><%= bookmark.movie.title %></h4>
            <p><%= bookmark.movie.overview %></p>
            <p class="card-text">-<%= bookmark.comment %> ❞</p>
            <h5>Audience Rating: <%= bookmark.movie.rating %></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
